:root {
  --light-grey: #3a546d;
  --dark-grey: #2c3e50;
}

.avatar {
  width: 230px;
}

.hero,
.about {
  background-color: var(--bs-teal);
}

.btn.btn-teal {
  background-color: var(--bs-teal);
}

.icon {
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
}

.bg-lightgrey {
  background-color: var(--light-grey);
}

.copyright {
  background-color: #2c3e50;
}
